.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    gap: 0.5rem;
    width: 90%;
}

.formControl {
    padding: 0.5rem;
}

.formGroup input[type="text"], 
.formGroup input[type="email"],
.formGroup input[type="number"],
.formGroup select,
.formGroup textarea {
    min-width: 100%;
    max-width: 100%;
}

.formGroup label{
    display: block;
    margin-bottom: 0.25rem;
}